h1 {
  color: #6eb8ea;
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}
section {
  margin: 2em;
}
h3 {
  background-color: rgb(88, 179, 241);
  color: white;
  transition: 0.2s all;
  border: 0.1em solid transparent;
  margin-bottom: 1em;
  border-radius: 1em;
  padding: 1em;
  width: 100%;
}
h3:hover {
  border: 0.1em solid rgb(110, 180, 227);
  color: rgb(88, 179, 241);
  background-color: transparent;
  transition: 0.2s all;
  margin-bottom: 1em;
  border-radius: 1em;
  padding: 1em;
  width: 100%;
}
img {
  border: 0.08em solid black;
  border-radius: 1em;
  margin: 1em;
  width: 70%;
}
article {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  text-align: start;
  line-height: 1.5em;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

ul li::before {
  content: "- ";
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  padding: 10px 8px;
  background-color: #f2f2f2;
}
table th,
table td {
  border: 1px solid black;
}
footer {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
footer a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: #82c6f3;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.2s all;
}
footer a:hover {
  color: #6eb8ea;
  border: 2px solid #6eb8ea;
  background-color: white;
  transition: 0.2s all;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  header h1 {
    font-size: 27px;
  }
}
@media only screen and (max-width: 1200px) {
  header h1 {
    font-size: 30px;
  }
}
