* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  background-color: rgba(216, 216, 216, 0.514);
  border-radius: 1em;
  border: 0.08em solid black;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(94, 88, 88);
  border-radius: 1em;
}
a {
  cursor: pointer;
}
