body {
  padding: 1em;
}
a {
  text-decoration: none;
  color: rgb(91, 63, 250);
}
#links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-link {
  padding: 1em;
  border-bottom: 0.08em solid black;
  transition: 0.2s all;
}
.main-link a {
  color: black;
}
.main-link:hover {
  background-color: black;
  border-radius: 1em;
  transition: 0.2s all;
}
.main-link:hover a {
  color: white;
  transition: 0.2s all;
}
.sub-link {
  text-align: start;
  margin-top: 1em;
}
.sub-link a {
  display: block;
  position: relative;
  z-index: 100;
  color: black;
  overflow: visible !important;
  margin: 1em;
  transition: 0.2s all;
  border-radius: 10px;
  padding: 10px;
}
.sub-link a:hover {
  transition: 0.2s all;
  color: white;
  background-color: rgb(88, 179, 241);
}
.sub-link a:hover::before {
  width: 110%;

  transition: 0.2s all;
}
h1 {
  background-color: rgb(88, 179, 241);
  color: white;
  transition: 0.2s all;
  border: 0.1em solid transparent;
  margin-bottom: 1em;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  width: 100%;
}
.main-linker {
  margin: 2em;
  border: 0.08em solid black;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}
#links {
  font-family: Arial, Helvetica, sans-serif;
}

#intro-section article {
  background-color: rgba(0, 146, 214, 0.411);
  padding: 1em;
  border: 0.08em solid rgb(0, 146, 214);
  border-radius: 1em;
  margin-bottom: 2em;
  transition: 0.2s all;
}

#intro-section article p {
  margin: 0.5em;
}

